Yahtzee/.vs/*
Yahtzee/.vs/Yahtzee/v16/Browse.VC.db-shm
Yahtzee/.vs/Yahtzee/v16/Browse.VC.db-wal
Yahtzee/.vs/Yahtzee/v16/Browse.VC.opendb
Yahtzee/.vs/Yahtzee/v16/Browse.VC.db
Yahtzee/.vs/Yahtzee/v16/Browse.VC.db
Yahtzee/.vs/Yahtzee/v16/ipch/AutoPCH/7ed40ac79d9e0429/CARRE.ipch
